MONGODB_URI=mongodb+srv://helenagro:Helen2024@cluster0.qxqlbii.mongodb.net/?appName=Cluster0";
PORT=5000
JWT_SECRET=skd8s9d7s9d7s9d7s9d7s9d
CLOUD_NAME=dflh8veze
CLOUD_KEY=798467862612247
CLOUD_SECRET=9qUToJzrKq-OlM3xr1HzHrdt63k
